#Java
*.class
*.jar
*.war
target/
build/
#Eclipse
.settings/
.project
.classpath
#Intellij
.idea
cat > .gitignore <<'EOF'
#Java
*.class
*.jar
*.war
target/
build/
#Eclipse
.settings/
.project
.classpath
#Intellij
.idea
.idea/
*.iml
out/
#Logs
*.log
#OS
Thumb.db
.DS_Store
/bin/
